# Unit 1 Python Fundamentals

In [1]:
#my first python program

print("Namaste CKPCET")

Namaste CKPCET

In [2]:
#my first python program

print("hello Surat!!")

hello Surat!!

In [3]:
a=33
a

33

In [4]:
a

33

In [5]:
A= 50 # Int

B=99.99 #Float
C="Ckpcet" #string
D= True #Bool

In [6]:
D

True

In [7]:
type(A)

int

In [8]:
type(B)

float

In [9]:
type(C)

str

In [10]:
type(D)

bool

In [11]:
#math operations on Variables

In [12]:
B

99.99

In [13]:
var1=B/A
var1

1.9997999999999998

In [14]:
x=A+B
x

149.99

In [15]:
#use input keyword to take input from user

#aks user to enter the value and store it in varialbe x

x = int(input("Enter the value of x : "))

#aks user to enter the value and store it in varialbe y

y = int(input("Enter the value of y : "))

Enter the value of x :

ValueError: invalid literal for int() with base 10: ''

In [16]:
z=x*y

NameError: name 'y' is not defined

In [17]:
z

NameError: name 'z' is not defined

In [18]:
#string Concatenation
str1="c.k."
str2="Pithawalla"
str3=str1 + str2
str3

'c.k.Pithawalla'

In [19]:
print(len(str3))

14

In [ ]:
#string slicing

In [21]:
str3[0:4]

'c.k.'

In [28]:
str3[9:14]

'walla'

# create tuples

In [29]:
tup1 = ("parul", 22, "Bharat", 45.5, "vadodara", 99)

print(tup1)
print(type(tup1))

('parul', 22, 'Bharat', 45.5, 'vadodara', 99)
<class 'tuple'>

In [30]:
tup1[4]

'vadodara'

In [31]:
tup1[2:4]

('Bharat', 45.5)

In [32]:
tup2=("python", 87)

tup3 = tup1 + tup2
print(tup3)

('parul', 22, 'Bharat', 45.5, 'vadodara', 99, 'python', 87)

In [33]:
#immutable 

del tup3[3]
print(tup3)

TypeError: 'tuple' object doesn't support item deletion

# List in Python

In [35]:
#create list



lst1 = ["parul", 22, "Bharat", 45.5, "vadodara", 99]
print(lst1)

print(type(lst1))

['parul', 22, 'Bharat', 45.5, 'vadodara', 99]
<class 'list'>

In [36]:
len(lst1)

6

In [37]:
lst1.remove(22)

In [38]:
lst1

['parul', 'Bharat', 45.5, 'vadodara', 99]

# Disctionary

In [39]:
dict1 = { "University" : "CKP surat", "Course" : "Artificial Intelligence", "Branch": "Electronics"}
print(dict1)

{'University': 'CKP surat', 'Course': 'Artificial Intelligence', 'Branch': 'Electronics'}

In [41]:
print(len(dict1))
type(dict1)

3

dict

# Python Conditional Statement

In [46]:
#If statement

num= 15
if num > 10:
    print(num, "is a Positive Number")
    print("This statement is true")

15 is a Positive Number
This statement is true

In [48]:
#if else statement

num= -5
if num > 0:
    print(num, "is a Positive Number")
else:
    print("Negetive Number")

Negetive Number